
.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
}


.city-state {
  text-emphasis-style: bold;
 }


.card {
  width:70%;
  margin-right: 10px;
  margin-top: 20px;
  line-height: auto;
}

.card-group {
 color: white;
}

