
.header {
  padding: 10px;
  text-align: center;
  background:blue;
  color: yellow;	
  opacity: 0.8; 
}

  body {
  background-image: url("https://cdn.ttgtmedia.com/visuals/searchCloudComputing/applications/cloudcomputing_article_001.jpg");
    height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}  


background {
   color :blue;

} 

.city-state {
  text-emphasis-style: bold;
 }


.card {
  width:70%;
  margin-right: 10px;
  margin-top: 20px;
  line-height: auto;
  opacity: 0.8;
  
}
  

h3 {
  color:yellow;
}
  


.card-group {
 color: yellow;
 font-weight: 400px;
 
}


